
<div class="col-md-8 col-md-offset-2 panel" id="assignment_index">

    <h1 class="panel-heading"><i class="fa fa-trello fa-2x">  Assignments</i></h1>


    <table class="table table-hover panel-body">
      <thead>
        <tr>
          <th>Name</th>
          <th>Workers</th>
          <th>Deadline</th>
          <th>Assigned by</th>
          <th>State</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @assignments.each do |assignment| %>
          <tr>
            <td><%= link_to assignment.name, assignment %></td>

            <td>
              <table>
                <tbody>
              <% assignment.doers.each do |doer| %>
              <tr>
                <td><%=link_to doer, doer%></td>
              </tr>
                <% end %>
                </tbody>
                </table>
            </td>

            <td><%= assignment.deadline.to_formatted_s(:db) %></td>
            <td><%= link_to assignment.get_creator, assignment.get_creator%> </td> <!-- This is pretty slow because SQL-->
            <% if assignment.is_ready %>
            <td>Done</td>
                <% else %>
            <td>Not done yet</td>
                <% end %>

          </tr>
        <% end %>
      </tbody>
    </table>

    <br>


    <div>
      <p></p>
    </div>


</div>
