<div class="container-fluid" id="newassignment_form">
<h1>New Assignment</h1>


<% if @members.nil? %>
  <p>You can make assignments only for you group-mates. Please join to some group.</p>
<% else %>
  <%= render 'form' %>
<% end %>

</div>