
<div class="col-md-6 col-md-offset-3" id="group_index">

<h1><i class="fa fa-trello fa-2x"> Groups </i></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group%></td>
        <td><%= group.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_group_path do %>
  <i class='fa fa-users btn btn-default'> New Group</i>
<% end %>
</div>
