<div class="panel-body">
  <div class="panel-heading">
<h3>Assigned to assignments</h3>
  </div>
<table class="table">


  <tbody>
  <% @user.assignments.each do |assignment| %>
      <tr>
        <td><%= link_to assignment.name, assignment %></td>
        <% if assignment.is_ready%>
            <td>The assignment is ready and the creator can now destroy it.</td>
        <% elsif assignment.tasks.empty?%>
        <td>This assignment doesn't have any tasks yet.</td>
        <% else %>
            <td>Assignment is not fully ready yet.</td>
        <% end %>

        <td>

          <%if not assignment.tasks.empty? %>
          <table class="table borderless">
            <thead>
            <th>Tasks</th>
            <th></th>
            <th></th>
            <th></th>
            </thead>
            <tbody>
            <% assignment.tasks.each do |task| %>
                <tr>
                  <td><%=link_to task.name, task%></td>
                  <% if task.is_done %>
                  <td>Ready</td>
                      <% else %>
                  <td></td>
                      <% end %>
                  <td><%= task.description %></td>
                  <td><%=button_to "Mark as done", mark_done_path(:id => task.id), method: :post, class:'btn btn-primary' if not task.is_done%></td>
                </tr>
            <% end %>
            <td><br></td>
            </tbody>
          </table>
            <% end%>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>