<div class="col-md-4 col-md-offset-4 panel panel-body" id="usershow_index">

<<<<<<< HEAD
<h1><i class="fa fa-trello fa-2x">  All users</i></h1>
=======
<h1 class="panel-heading">All users</h1>
>>>>>>> 9c2899f50691611a967d328dfdb8a867d1db8465

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Joined groups</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td>
          <table class="">
            <tbody>

            <% user.groups.each do |group| %>
                <ul>
                    <li><%=link_to group.name, group%></li>
                </ul>
            <%end%>

            </tbody>
          </table>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
