<div class="col-md-4 col-md-offset-4" id="usershow_index">

<h1>All users</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Joined groups</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td>
          <table class="">
            <tbody>

            <% user.groups.each do |group| %>
                <ul>
                    <li><%=link_to group.name, group%></li>
                </ul>
            <%end%>

            </tbody>
          </table>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>