/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 *= require fullcalendar
 *= require font-awesome
 */

form {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#error_explanation {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  h2 {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
  }
}

#userbody_form #inline-custom-box{
    margin-top: 10px;

}

form label {
  color: antiquewhite;

}


main {

}

.panel {
  background:#2E2F30;
  border: none;

  ul{
    list-style-type: none;
  }

}

.panel-heading{
  background-color: #444444;
  margin-bottom: 1%;

  text-decoration: none;
}

h1 {
  font-family: "Ubuntu";
}


.borderless td, .borderless th {
  border: none;
}

.table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857;
  vertical-align: top;
  border-top: none !important;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #2E2F30;
}