// Place all the styles related to the assignments controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#calendar
{
  width: 50%;
  margin-left: auto;
  margin-right: auto; // floats the calendar middle of the screen
}
