// Place all the styles related to the assignments controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#calendar
{
  //width: 50%;
  //margin-left: auto;
  //margin-right: auto; // floats the calendar middle of the screen
}


#newassignment_form {


}

#assignment_index{
  color: antiquewhite;
  h1{
    text-decoration: underline;
  }
}

#assignment_show{
  color: antiquewhite;
  h1{
    text-decoration: underline;
  }
}

#newassignment_form select {
  padding:3px;
  margin: 0;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  background: #f8f8f8;
  color:#888;
  border:none;
  outline:none;
  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
}