// Place all the styles related to the users controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#newuser_field form{
  //margin-left: 50%;
  //padding-top: 10%;
}

#newuser_field select {
  padding:3px;
  margin: 0;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  background: #f8f8f8;
  color:#888;
  border:none;
  outline:none;
  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
}

#editfield h1{
 color: antiquewhite;
}

#calendar{
  .fc-today{
    background-color: #6F8B94;
  }
  .fc-event{
    box-shadow: 2px 2px 2px #706868;
  }
  .fc-agenda-axis, #calendar .fc-widget-header{
    background-color: #C2E6FF;
    border-color: #AED0EA;
    font-weight: normal;
    padding: 3px;
    border-radius: 3px;
  }


}
#editfield select {
  padding:3px;
  margin: 0;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  background: #f8f8f8;
  color:#888;
  border:none;
  outline:none;
  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
}


#userbody_form {
  color: antiquewhite;
  h1{
    text-decoration: underline;
  }
}